@model AppFotos.Models.Fotografias

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Editar as Fotografias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* guarda a referência ao ID da fotografia*@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Ficheiro" />
            <input type="hidden" asp-for="Preco" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" ></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ficheiro" class="control-label"></label>
                <input type="file"
                       accept=".png,.jpeg,.jpg"
                       name="imagemFoto"
                       class="form-control" />
                <span asp-validation-for="Ficheiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoAux" class="control-label"></label>
                <input asp-for="PrecoAux" class="form-control" />
                <span asp-validation-for="PrecoAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaFK" class="control-label"></label>
                <select asp-for="CategoriaFK" class="form-control" asp-items="ViewBag.CategoriaFK"></select>
                <span asp-validation-for="CategoriaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonoFK" class="control-label"></label>
                <select asp-for="DonoFK" class="form-control" asp-items="ViewBag.DonoFK"></select>
                <span asp-validation-for="DonoFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @*https://getbootstrap.com/*@
        <img src="~/imagens/@Model.Ficheiro"
            alt="Imagem da Fotografia @Model.Titulo" title="@Model.Titulo" width="500px" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
